/* Sidebar */
.sidebar {
    background-color: rgb(38, 60, 92);
    color: white;
    position: fixed;    /* Permet de fixer le menu */
    height: 100vh;      /* Remplit toute la hauteur de la page */
}
.petit-sidebar {
    background-color: rgb(38, 60, 92);
}

/* Boutons de la sidebar */
.bouton-action {
    background-color: rgb(38, 60, 92);
    color: white;
    border: none;
    text-align: left;
    padding: 10px;
    width: 100%;
}

.liste-bouton {
    height: 90vh;
}

.bouton-action:hover {
    background-color: #608CC3;
}

/* Ligne de séparation */
.responsive-line {
    width: 98%;
    height: 2px;
    background-color: #fdfdfd;
    border: none;
    margin: 10px auto;
}

@media (min-width: 768px) {
    .contenu-principal {
        margin-left: 16.67%; /* Décalage du contenu principal de deux colonnes Bootstrap */
        max-width: 83.33%;   /* Largeur maximale de 83.33% */
    }
}
