<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturation et Paiement</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../../static/css/styles.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<!-- Barre latérale de la page  -->
<?php include '../vuErwan/sidebar.php'; ?>

<h3 class="titre_page">Historique des factures fournisseur</h3>

<!-- MAIN CONTENT -->
<main class="main-content">
    <section class="recent-invoices">
        <form class="filtres row">
            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom_fournisseur">

            <label for="tel">Numéro de téléphone :</label>
            <input type="text" id="tel" name="tel_fournisseur">

            <label for="adresse">Adresse :</label>
            <input type="text" id="adresse" name="adresse_fournisseur">

            <button type="submit"><i class="fa fa-search"></i></button>
            <button><i class="fa fa-times"></i></button>
        </form>
        <!-- Tableau à afficher avec les factures du fournisseur rechercher-->
        <!-- dans les filtres d'au-dessus -->
        <table class="table-striped">
            <thead>
            <tr>
                <th>Ref</th>
                <th>Ref.fournisseur</th>
                <th>Date facture</th>
                <th>Date échéance</th>
                <th>Tiers</th>
                <th>Code Postal</th>
                <th>Condition de règlement</th>
                <th>Mode de règlement </th>
                <th>Montant HT</th>
                <th>Auteur</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="10">
                    Aucun fournisseur trouvé
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

</body>
</html>
