<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturation et Paiement</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../../static/css/styles.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<!-- Barre latérale de la page  -->
<?php include '../vuErwan/sidebar.php'; ?>

<!-- MAIN CONTENT -->
<main class="main-content">
    <section class="recent-invoices">
        <h2>Les fournisseurs</h2>
        <table>
            <thead>
            <tr>
                <th>Classement</th>
                <th>Nom</th>
                <th>Numéro de téléphone</th>
                <th>Adresse</th>
                <th>Chiffre d'affaire</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="5">Aucun</td>
            </tr>
            <tr>
                <td colspan="5">Aucun</td>
            </tr>
            <tr>
                <td colspan="5">Aucun</td>
            </tr>
            <tr>
                <td colspan="5">Aucun</td>
            </tr>
            <tr>
                <td colspan="5">Aucun</td>
            </tr>
            <tr>
                <td colspan="5">Aucun</td>
            </tr>
            <tr>
                <td colspan="5">Aucun</td>
            </tr>
            <tr>
                <td colspan="5">Aucun</td>
            </tr>
            <tr>
                <td colspan="5">Aucun</td>
            </tr>
            <tr>
                <td colspan="5">Aucun</td>
            </tr>
            <tr>
                <td colspan="5">Aucun</td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

</body>
</html>
