<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturation et Paiement</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../../static/css/styles.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

    <!-- Barre latérale -->
    <div class="sidebar">
        <h3>📂 Factures fournisseur</h3>
        <ul>
            <li><a href="facturation_liste.html">Liste</a></li> <!-- Fournisseurs et détails factures -->
            <li><a href="facturation_palmares_liste.html">Palmarès - Liste</a></li>
            <li><a href="facturation_palmares_graphique.html">Palmarès - Graphique</a></li>
        </ul>
        <div class="dropdown d-none d-md-block">
            <button class="rounded dropdown-toggle custom-dropdown-toggle btnEnBas"
                    type="button" id="menuDeroulantPage" data-bs-toggle="dropdown" aria-expanded="false">
                G202443
            </button>
            <ul class="dropdown-menu" aria-labelledby="menuDeroulantPage">
                <!-- Accueil visible seulement sur écrans sm et moins -->
                <li><a class="dropdown-item" href="#"><i class="fa fa-sign-out-alt"></i> D&eacute;connexion</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-regular fa-circle-question"></i> Besoin d'aide </a></li> <!-- Télécharge un fichier pdf avec la totalité des aides du site -->
            </ul>
        </div>
    </div>

    <!-- MAIN CONTENT -->
    <main class="main-content">
        <section class="recent-invoices">
            <h2>Les fournisseurs</h2>
            <table>
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Numéro de téléphone</th>
                    <th>Adresse</th>
                    <th>Code Postal</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="4">Aucun</td>
                </tr>
                <tr>
                    <td colspan="4">Aucun</td>
                </tr>
                <tr>
                    <td colspan="4">Aucun</td>
                </tr>
                <tr>
                    <td colspan="4">Aucun</td>
                </tr>
                <tr>
                    <td colspan="4">Aucun</td>
                </tr>
                <tr>
                    <td colspan="4">Aucun</td>
                </tr>
                <tr>
                    <td colspan="4">Aucun</td>
                </tr>
                <tr>
                    <td colspan="4">Aucun</td>
                </tr>
                <tr>
                    <td colspan="4">Aucun</td>
                </tr>
                <tr>
                    <td colspan="4">Aucun</td>
                </tr>
                <tr>
                    <td colspan="4">Aucun</td>
                </tr>
                </tbody>
            </table>
        </section>
    </main>

</body>
</html>
