<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Notes de Frais</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../../static/css/sidebar.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

    <!-- Barre latérale -->
    <div class="sidebar">
        <h3>Notes de frais</h3>
        <ul>
            <li>Liste</li>
            <li><a href="gestion_note_frais_statistiques.html">Statistiques</a></li>
        </ul>
        <div class="user-dropdown">
            <button class="dropdown-btn">
                Id_User
            </button>
            <ul class="dropdown-content">
                <li><a href="#"><i class="fa fa-sign-out-alt"></i> Déconnexion</a></li>
                <li><a href="#"><i class="fa-regular fa-circle-question"></i> Besoin d'aide ?</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
