<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Notes de Frais</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../../static/css/styles.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

    <!-- Barre latérale -->
    <div class="sidebar">
        <h3>Notes de frais</h3>
        <ul>
            <li><a href="#" >Liste</a></li>
            <li><a href="/doli_plus/views/Notes de frais/gestion_note_frais_statistiques.html" >Statistiques</a></li>
        </ul>
        <div class="dropdown d-md-block ">
            <button class="rounded dropdown-toggle custom-dropdown-toggle btnEnBas"
                    type="button" id="menuDeroulantPage" data-bs-toggle="dropdown" aria-expanded="false">
                G202443
            </button>
            <ul class="dropdown-menu" aria-labelledby="menuDeroulantPage">
                <!-- Accueil visible seulement sur écrans sm et moins -->
                <li><a class="dropdown-item" href="/doli_plus?controller=Disconnect"><i class="fa fa-sign-out-alt"></i> D&eacute;connexion</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-regular fa-circle-question"></i> Besoin d'aide ? </a></li> <!-- Télécharge un fichier pdf avec la totalité des aides du site -->
            </ul>
        </div>
    </div>

    <!-- Contenu principal -->
    <div class="main-content">
        <section class="recent-expenses">
            <h2>Les 0 dernières notes de frais</h2>
            <table>
                <thead>
                    <tr>
                        <th>Utilisateur</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Date d'approbation</th>
                        <th>Montant TTC</th>
                        <th>Montant HT</th>
                        <th>État</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="7">Aucun</td>
                    </tr>
                    <tr>
                        <td colspan="7">Aucun</td>
                    </tr>
                    <tr>
                        <td colspan="7">Aucun</td>
                    </tr>
                    <tr>
                        <td colspan="7">Aucun</td>
                    </tr>
                    <tr>
                        <td colspan="7">Aucun</td>
                    </tr>
                    <tr>
                        <td colspan="7">Aucun</td>
                    </tr>
                    <tr>
                        <td colspan="7">Aucun</td>
                    </tr>
                    <tr>
                        <td colspan="7">Aucun</td>
                    </tr>
                    <tr>
                        <td colspan="7">Aucun</td>
                    </tr>
                    <tr>
                        <td colspan="7">Aucun</td>
                    </tr>
                    <tr>
                        <td colspan="7">Aucun</td>
                    </tr>
                    <tr>
                        <th colspan="7">Total</th>
                        <td>Ecrire le total</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>

</body>
</html>
